@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root{
    --softred: hsl(14,88%,65%);
    --veryDarkGrayBlue: hsl(237,12%,33%);
    --darkGrayBlue: hsl(240,6%,50%);
    --lightGrayBlue: hsl(240,5%,91%);
    --fontSize: 12px;
    }

*{
    box-sizing: border-box;
}    

html{
    font-size: var(--fontSize);
}

body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(hsl(273,75%,66%),hsl(240,73%,65%));
    display: grid;
    justify-content: center;
    align-content: center;
    }

.wrapper {
    background: black url(/images/bg-pattern-desktop.svg) no-repeat 1260% 65%;
    border-radius: 30px;
    height: 509px;
    width: 940px;
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-gap: 10rem;
}

.answer{
    display: none;
}

.active .answer{
    display: block;
    padding-bottom: 1.3rem;
    color: var(--veryDarkGrayBlue);
    transition: all .3s ease-in;
}

img{
    transform: rotate(0deg);
    transition: all .3s ease-in;
}
.active img{
    transform: rotate(180deg);
    transition: all .3s ease-in;
}

.active h3{
    font-weight: 600;
    color: #e8e8ea;
}

.accordion__wrapper{
    margin-top: 65px;
    display: flex;
    flex-direction: column;
}

.questions__accordions {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.question-answer__accordion {
    width: 350px;
    border-bottom: 1px solid #e8e8ea;
}

.title__accordion{
    font-size: 3rem;
    margin-top: 0px;
    color: darkorange;
}

.title__question{
    font-weight: 400;
    font-size: 1.2rem;
    color: whitesmoke;
    margin: 1.4rem 0rem;
}

.question{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.question img{
    align-self: center;
}

.image__wrapper{
    position: relative;
}

.image__wrapper--inner img{
    position: absolute;
    height: 70%;
    top: 10px;
    left: -16px;
}

.box{
    position: absolute;
    top: 40%;
    left: -27%;
}

.attribution{
    font-size: medium;
    padding: 10px;
    color: black;
}

.attribution a {
    color: yellow;
  }

  .active .answer {
    display: block;
    padding-bottom: 1.3rem;
    color: white;
    transition: all .3s ease-in;
  }

  @media (max-width: 700px) {
    .wrapper {
      width: 350px;
      grid-template-columns: 1fr;
      grid-template-rows: 100px 1fr;
      grid-gap: 0.5rem;
      position: relative;
      padding: 1rem;
      height: 530px;
    }
    .image__wrapper{
      background: url("./images/bg-pattern-mobile.svg");
      background-repeat: no-repeat;
      background-position: center 590%;
    }
  
    .image__wrapper--inner {
      position: absolute;
      width: 20rem;
      height: 25rem;
      background-size: 200%;
      background-position: center;
      top: -150%;
      left: 15%;    
    }
    .box {
      width: 55px;
      left: 19%;
      top: -30%;
    }
    .accordion__wrapper {
      margin-top: 0px;
    }
    .question-answer__accordion {
      width: 100%;
    }
    .title__accordion {
      text-align: center;
    }
  }